.task-item {
  display: flex;
  
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.task-title {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
}
